doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/js/bootstrap.js')
    //-script(src='http://code.jquery.com/jquery.js')  
  body
    block content