extends layout

block content
  h2= title
  p Step1. Authorization

  button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#contain') test
  
  #contain.collapse.in.container
    .row
      .col-md-4
        form(role='form')
          .checkbox
          h4 
            strong 권한 선택
          .row
            .col-md-4   
              label
                input#check_all(type='checkbox')
                | 전체선택
          .row
            .col-md-3 
              div  
                label 
                  input#check_profile(type='checkbox')
                  | 프로필
            .col-md-3       
              div 
                label
                  input#check_blog(type='checkbox')
                  | 블로그
          .row
            .col-md-3      
              div    
                label 
                  input#check_calendar(type='checkbox')
                  | 캘린더
            .col-md-3      
              div
                label
                  input#check_cafe(type='checkbox')
                  | 카페

          button.btn.btn-primary#btn_userauth(type='submit') 사용자인증
      .col-md-4
        .form-horizontal.well    
          strong OAuth parameter
          textarea.form-control#text_parameter(type='text', readonly='readonly')

          strong Request
          textarea.form-control#text_request(type='text', readonly='readonly')
          
          strong Response
          textarea.form-control#text_response(type='text', readonly='readonly')

          button.btn.btn-primary#btn_next(type='submit') Next
